.masthead
  %ul.nav.nav-pills.pull-right
    - if user_signed_in?
      %li
        = link_to "登出 #{current_user.name}", users_logout_path, :method=>'delete'
    - else
      %li
        .span
          腾讯微博登录
        .span
          = link_to image_tag('weiboicon24.png'), users_login_path
  %h3.muted 针鼹鼠